<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
{% for listing in listings %}
<table>
    <thead>
    <tr>
        <th>Field Label</th>
        <th>Field Name</th>
    </tr>
    </thead>
    <tr>
        <td> 'Home' address in a FN?</td>
        <td>{{listing.home_address_in_a_fn__c}}</td>
    </tr>
    <tr>
        <td>
            Apartment Floor
        </td>
        <td>
            {{listing.apartment_floor__c}}
        </td>
    </tr>
    <tr>
        <td>
            Area
        </td>
        <td>
            {{listing.pba__city_pb__c}}
        </td>
    </tr>
    <tr>
        <td>
            Balcony
        </td>
        <td>
            {{listing.balcony__c}}
        </td>
    </tr>
    <tr>
        <td>
            Bank Name
        </td>
        <td>
            {{listing.bank_name__c}}
        </td>
    </tr>
    <tr>
        <td>
            Bank Repossessed
        </td>
        <td>
            {{listing.bank_reposessed__c}}
        </td>
    </tr>
    <tr>
        <td>
            Bathrooms
        </td>
        <td>
            {{listing.pba__fullbathrooms_pb__c}}
        </td>
    </tr>
    <tr>
        <td>
            Bathrooms
        </td>
        <td>
            {{listing.bathrooms__c}}
        </td>
    </tr>
    <tr>
        <td>
            Bedrooms
        </td>
        <td>
            {{listing.pba__bedrooms_pb__c}}
        </td>
    </tr>
    <tr>
        <td>
            Bedrooms
        </td>
        <td>
            {{listing.bedrooms__c}}
        </td>
    </tr>
    <tr>
        <td>
            Build Year
        </td>
        <td>
            {{listing.year_build_text__c}}
        </td>
    </tr>
    <tr>
        <td>
            Building/Master Property (Formula)
        </td>
        <td>
            {{listing.building_master_property__c}}
        </td>
    </tr>
    <tr>
        <td>
            Buyer's Rep
        </td>
        <td>{{listing.user__c}}</td>
    </tr>
    <tr>
        <td>
            Carports / Parking Bays
        </td>
        <td>
            {{listing.parkingspaces__c}}
        </td>
    </tr>
    <tr>
        <td>
            Completion Date
        </td>
        <td>
            {{listing.completiondate__c}}
        </td>
    </tr>
    <tr>
        <td>
            Completion Status
        </td>
        <td>
            {{listing.completionstatus__c}}
        </td>
    </tr>
    <tr>
        <td>
            Complex Name
        </td>
        <td>
            {{listing.complex_name__c}}
        </td>
    </tr>
    <tr>
        <td>
            Complex Unit No.
        </td>
        <td>
            {{listing.complex_unit_no__c}}
        </td>
    </tr>
    <tr>
        <td>
            Contents being sold with property
        </td>
        <td>
            {{listing.contents_being_sold_with_property__c}}
        </td>
    </tr>
    <tr>
        <td>
            Country
        </td>
        <td>
            {{listing.pba__country_pb__c}}
        </td>
    </tr>
    <tr>
        <td>
            Country Code
        </td>
        <td>
            {{listing.pba__countrycode_pb__c}}
        </td>
    </tr>
    <tr>
        <td>
            Current Lease
        </td>
        <td>
            {{listing.current_lease__c}}
        </td>
    </tr>
    <tr>
        <td>
            Days On Market
        </td>
        <td>
            {{listing.days_on_market__c}}
        </td>
    </tr>
    <tr>
        <td>
            Days_Off_Market
        </td>
        <td>
            {{listing.days_off_market__c}}
        </td>
    </tr>
    <tr>
        <td>
            Deal created
        </td>
        <td>
            {{listing.deal_created__c}}
        </td>
    </tr>
    <tr>
        <td>
            Deed Title Classification
        </td>
        <td>
            {{listing.deed_title_classification__c}}
        </td>
    </tr>
    <tr>
        <td>
            Description
        </td>
        <td>
            {{listing.pba__description_pb__c}}
        </td>
    </tr>
    <tr>
        <td>
            Development Title
        </td>
        <td>
            {{listing.development_title__c}}
        </td>
    </tr>
    <tr>
        <td>
            Dining Rooms
        </td>
        <td>
            {{listing.dining_rooms__c}}
        </td>
    </tr>
    <tr>
        <td>
            Display address
        </td>
        <td>
            {{listing.display_address__c}}
        </td>
    </tr>
    <tr>
        <td>
            Distressed Sale
        </td>
        <td>
            {{listing.distressed__c}}
        </td>
    </tr>
    <tr>
        <td>
            Domestic Accommodation
        </td>
        <td>
            {{listing.domestic_accommodation__c}}
        </td>
    </tr>
    <tr>
        <td>
            Erf Number
        </td>
        <td>
            {{listing.erf_number__c}}
        </td>
    </tr>
    <tr>
        <td>
            Estate/Complex: Access details
        </td>
        <td>
            {{listing.estate_complex_access_details__c}}
        </td>
    </tr>
    <tr>
        <td>
            Exterior
        </td>
        <td>
            {{listing.exterior__c}}
        </td>
    </tr>
    <tr>
        <td>
            External Listing
        </td>
        <td>
            {{listing.external_listing__c}}
        </td>
    </tr>
    <tr>
        <td>
            Extras
        </td>
        <td>
            {{listing.extras__c}}
        </td>
    </tr>
    <tr>
        <td>
            Fitness
        </td>
        <td>
            {{listing.fitness__c}}
        </td>
    </tr>
    <tr>
        <td>
            Flatlet
        </td>
        <td>
            {{listing.flatlet__c}}
        </td>
    </tr>
    <tr>
        <td>
            Floor
        </td>
        <td>
            {{listing.pba__floor__c}}
        </td>
    </tr>
    <tr>
        <td>
            Floor Size
        </td>
        <td>
            {{listing.floor_size__c}}
        </td>
    </tr>
    <tr>
        <td>
            Flooring
        </td>
        <td>
            {{listing.flooring__c}}
        </td>
    </tr>
    <tr>
        <td>
            Fox Price
        </td>
        <td>
            {{listing.fox_price__c}}
        </td>
    </tr>
    <tr>
        <td>
            Furnished
        </td>
        <td>
            {{listing.furnished__c}}
        </td>
    </tr>
    <tr>
        <td>
            Garages
        </td>
        <td>
            {{listing.garages__c}}
        </td>
    </tr>
    <tr>
        <td>
            Garden Type
        </td>
        <td>
            {{listing.garden_type__c}}
        </td>
    </tr>
    <tr>
        <td>
            Geocode Accuracy
        </td>
        <td>
            {{listing.pba__geocodeAccuracy_pb__c}}
        </td>
    </tr>
    <tr>
        <td>
            Golfing
        </td>
        <td>
            {{listing.golfing__c}}
        </td>
    </tr>
    <tr>
        <td>
            Half Bathrooms
        </td>
        <td>
            {{listing.pba__halfbathrooms_pb__c}}
        </td>
    </tr>
    <tr>
        <td>
            ID Number / Passport Number
        </td>
        <td>
            {{listing.id_number_passport_number__c}}
        </td>
    </tr>
    <tr>
        <td>
            Image Count
        </td>
        <td>
            {{listing.image_count__c}}
        </td>
    </tr>
    <tr>
        <td>
            Instruction
        </td>
        <td>
            {{listing.instruction__c}}
        </td>
    </tr>
    <tr>
        <td>
            Instruction Expiry
        </td>
        <td>
            {{listing.instruction_expiry__c}}
        </td>
    </tr>
    <tr>
        <td>
            Instruction Sent
        </td>
        <td>
            {{listing.instruction_sent__c}}
        </td>
    </tr>
    <tr>
        <td>
            Instruction Signed
        </td>
        <td>
            {{listing.listed_date__c}}
        </td>
    </tr>
    <tr>
        <td>
            International Websites
        </td>
        <td>
            {{listing.international_websites__c}}
        </td>
    </tr>
    <tr>
        <td>
            Kitchen
        </td>
        <td>
            {{listing.kitchen__c}}
        </td>
    </tr>
    <tr>
        <td>
            Land Size
        </td>
        <td>
            {{listing.land_size__c}}
        </td>
    </tr>
    <tr>
        <td>
            Last Feed Update
        </td>
        <td>
            {{listing.last_feed_update__c}}
        </td>
    </tr>
    <tr>
        <td>
            Latitude
        </td>
        <td>
            {{listing.pba__latitude_pb__c}}
        </td>
    </tr>
    <tr>
        <td>
            Latitude Property
        </td>
        <td>
            {{listing.pba__latitude_property__c}}
        </td>
    </tr>
    <tr>
        <td>
            Laundry
        </td>
        <td>
            {{listing.laundry__c}}
        </td>
    </tr>
    <tr>
        <td>
            Listing Link
        </td>
        <td>
            {{listing.listing_link__c}}
        </td>
    </tr>
    <tr>
        <td>
            Listing Notes
        </td>
        <td>
            {{listing.listing_notes__c}}
        </td>
    </tr>
    <tr>
        <td>
            Listing Price
        </td>
        <td>
            {{listing.listing_price__c}}
        </td>
    </tr>
    <tr>
        <td>
            Listing Type
        </td>
        <td>
            {{listing.pba__listingtype__c}}
        </td>
    </tr>
    <tr>
        <td>
            Listing Website
        </td>
        <td>
            {{listing.pba__listing_website__c}}
        </td>
    </tr>
    <tr>
        <td>
            Lockbox installed
        </td>
        <td>
            {{listing.lockbox_installed__c}}
        </td>
    </tr>
    <tr>
        <td>
            Longitude
        </td>
        <td>
            {{listing.pba__longitude_pb__c}}
        </td>
    </tr>
    <tr>
        <td>
            Longitude Property
        </td>
        <td>
            {{listing.pba__longitude_property__c}}
        </td>
    </tr>
    <tr>
        <td>
            Lost Reason
        </td>
        <td>
            {{listing.lost_reason__c}}
        </td>
    </tr>
    <tr>
        <td>
            Lost Time
        </td>
        <td>
            {{listing.lost_time__c}}
        </td>
    </tr>
    <tr>
        <td>
            Lot Size
        </td>
        <td>
            {{listing.pba__lotsize_pb__c}}
        </td>
    </tr>
    <tr>
        <td>
            Lounge
        </td>
        <td>
            {{listing.lounge__c}}
        </td>
    </tr>
    <tr>
        <td>
            Mandate
        </td>
        <td>
            {{listing.mandate__c}}
        </td>
    </tr>
    <tr>
        <td>
            Marketing Status
        </td>
        <td>
            {{listing.pba__status__c}}
        </td>
    </tr>
    <tr>
        <td>
            Master Property
        </td>
        <td>
            {{listing.master_property__c}}
        </td>
    </tr>
    <tr>
        <td>
            Measurement
        </td>
        <td>
            {{listing.pba__measurement_pb__c}}
        </td>
    </tr>
    <tr>
        <td>
            Measurement Type
        </td>
        <td>
            {{listing.measurement_type__c}}
        </td>
    </tr>
    <tr>
        <td>
            Minimum Net Price
        </td>
        <td>
            {{listing.minimum_net_price__c}}
        </td>
    </tr>
    <tr>
        <td>
            MLS/ID
        </td>
        <td>
            {{listing.mls_id__c}}
        </td>
    </tr>
    <tr>
        <td>
            Monthly Levies
        </td>
        <td>
            {{listing.monthly_levies__c}}
        </td>
    </tr>
    <tr>
        <td>
            Monthly Rates
        </td>
        <td>
            {{listing.monthly_rates__c}}
        </td>
    </tr>
    <tr>
        <td>
            Monthly Rent
        </td>
        <td>
            {{listing.monthlyrent__c}}
        </td>
    </tr>
    <tr>
        <td>
            Monthly Rent per sqm/sqft
        </td>
        <td>
            {{listing.monthlyrentpersqxx__c}}
        </td>
    </tr>
    <tr>
        <td>
            Number For Sale
        </td>
        <td>
            {{listing.number_for_sale__c}}
        </td>
    </tr>
    <tr>
        <td>
            Number of external Images
        </td>
        <td>
            {{listing.pba__systemidxexternalimages__c}}
        </td>
    </tr>
    <tr>
        <td>
            Off Market Date
        </td>
        <td>
            {{listing.off_market_date__c}}
        </td>
    </tr>
    <tr>
        <td>
            On Market Date
        </td>
        <td>
            {{listing.on_market_date__c}}
        </td>
    </tr>
    <tr>
        <td>
            On Show
        </td>
        <td>
            {{listing.on_show__c}}
        </td>
    </tr>
    <tr>
        <td>
            On Show Date
        </td>
        <td>
            {{listing.on_show_date__c}}
        </td>
    </tr>
    <tr>
        <td>
            On Show Directions
        </td>
        <td>
            {{listing.on_show_directions__c}}
        </td>
    </tr>
    <tr>
        <td>
            On Show End Time
        </td>
        <td>
            {{listing.on_show_end_time__c}}
        </td>
    </tr>
    <tr>
        <td>
            On Show Start Time
        </td>
        <td>
            {{listing.on_show_start_time__c}}
        </td>
    </tr>
    <tr>
        <td>
            Overall Days On Market
        </td>
        <td>
            {{listing.overall_days_on_market__c}}
        </td>
    </tr>
    <tr>
        <td>Owner</td>
        <td>{{listing.ownerid}}</td>
    </tr>
    <tr>
        <td>
            Patio
        </td>
        <td>
            {{listing.patio__c}}
        </td>
    </tr>
    <tr>
        <td>
            Pet Friendly
        </td>
        <td>
            {{listing.pet_friendly__c}}
        </td>
    </tr>
    <tr>
        <td>
            PF Number
        </td>
        <td>
            {{listing.pf_number__c}}
        </td>
    </tr>
    <tr>
        <td>
            Photographer
        </td>
        <td>
            {{listing.photographer__c}}
        </td>
    </tr>
    <tr>
        <td>
            Photography Scheduled
        </td>
        <td>
            {{listing.photos_taken__c}}
        </td>
    </tr>
    <tr>
        <td>
            Pipedrive Address
        </td>
        <td>
            {{listing.pipedrive_address__c}}
        </td>
    </tr>
    <tr>
        <td>
            Plan Numbers
        </td>
        <td>
            {{listing.plan_numbers__c}}
        </td>
    </tr>
    <tr>
        <td>
            Pool
        </td>
        <td>{{listing.pool__c}}</td>
    </tr>
    <tr>
        <td>
            Price Expectation
        </td>
        <td>
            {{listing.price_expectation__c}}
        </td>
    </tr>
    <tr>
        <td>
            Price Range (highest)
        </td>
        <td>
            {{listing.price_range_highest__c}}
        </td>
    </tr>
    <tr>
        <td>
            Price Range (lowest)
        </td>
        <td>
            {{listing.price_range_lowest__c}}
        </td>
    </tr>
    <tr>
        <td>
            Private Property Price
        </td>
        <td>
            {{listing.private_property_price__c}}
        </td>
    </tr>
    <tr>
        <td>
            Private Property Property Id
        </td>
        <td>
            {{listing.private_property_property_id__c}}
        </td>
    </tr>
    <tr>
        <td>
            Property
        </td>
        <td>
            {{listing.pba__property__c}}
        </td>
    </tr>
    <tr>
        <td>
            Property Available
        </td>
        <td>
            {{listing.property_available__c}}
        </td>
    </tr>
    <tr>
        <td>
            Property Rating
        </td>
        <td>
            {{listing.property_rating__c}}
        </td>
    </tr>
    <tr>
        <td>
            Property Subtype
        </td>
        <td>
            {{listing.property_subtype__c}}
        </td>
    </tr>
    <tr>
        <td>
            Property Type
        </td>
        <td>
            {{listing.pba__propertytype__c}}
        </td>
    </tr>
    <tr>
        <td>
            Property24 Listing Number
        </td>
        <td>
            {{listing.property24_listing_number__c}}
        </td>
    </tr>
    <tr>
        <td>
            Property24 Price
        </td>
        <td>
            {{listing.property24_price__c}}
        </td>
    </tr>
    <tr>
        <td>
            Province
        </td>
        <td>
            {{listing.pba__state_pb__c}}
        </td>
    </tr>
    <tr>
        <td>
            Province
        </td>
        <td>
            {{listing.province__c}}
        </td>
    </tr>
    <tr>
        <td>
            Rates and Levies - Details
        </td>
        <td>
            {{listing.rates_and_levies_details__c}}
        </td>
    </tr>
    <tr>
        <td>
            Record Type
        </td>
        <td>
            {{listing.recordtypeid}}
        </td>
    </tr>
    <tr>
        <td>
            Recreation
        </td>
        <td>
            {{listing.recreation__c}}
        </td>
    </tr>
    <tr>
        <td>
            Roof
        </td>
        <td>{{listing.roof__c}}</td>
    </tr>
    <tr>
        <td>
            SAHL Property
        </td>
        <td>
            {{listing.sahl_property__c}}
        </td>
    </tr>
    <tr>
        <td>
            Sale Date
        </td>
        <td>
            {{listing.sale_date__c}}
        </td>
    </tr>
    <tr>
        <td>
            Sale Price
        </td>
        <td>
            {{listing.sale_price__c}}
        </td>
    </tr>
    <tr>
        <td>
            Sales Sign installed
        </td>
        <td>
            {{listing.sales_sign_installed__c}}
        </td>
    </tr>
    <tr>
        <td>
            Schools
        </td>
        <td>
            {{listing.schools__c}}
        </td>
    </tr>
    <tr>
        <td>
            Security
        </td>
        <td>
            {{listing.security__c}}
        </td>
    </tr>
    <tr>
        <td>
            Seller
        </td>
        <td>
            {{listing.propertyownercontact__c}}
        </td>
    </tr>
    <tr>
        <td>
            Shopping
        </td>
        <td>
            {{listing.shopping__c}}
        </td>
    </tr>
    <tr>
        <td>
            Short-term let
        </td>
        <td>
            {{listing.short_term_let__c}}
        </td>
    </tr>
    <tr>
        <td>
            Site Url
        </td>
        <td>
            {{listing.site_url__c}}
        </td>
    </tr>
    <tr>
        <td>
            Size
        </td>
        <td>
            {{listing.pba__totalarea_pb__c}}
        </td>
    </tr>
    <tr>
        <td>
            Special Levy
        </td>
        <td>
            {{listing.special_levy__c}}
        </td>
    </tr>
    <tr>
        <td>
            Stage
        </td>
        <td>
            {{listing.stage__c}}
        </td>
    </tr>
    <tr>
        <td>
            State Code
        </td>
        <td>
            {{listing.pba__statecode_pb__c}}
        </td>
    </tr>
    <tr>
        <td>
            Street
        </td>
        <td>
            {{listing.pba__street_pb__c}}
        </td>
    </tr>
    <tr>
        <td>
            Street Name
        </td>
        <td>
            {{listing.address2__c}}
        </td>
    </tr>
    <tr>
        <td>
            Street Name
        </td>
        <td>
            {{listing.pba__address_pb__c}}
        </td>
    </tr>
    <tr>
        <td>
            Street No.
        </td>
        <td>
            {{listing.street_no__c}}
        </td>
    </tr>
    <tr>
        <td>
            Study
        </td>
        <td>
            {{listing.study__c}}
        </td>
    </tr>
    <tr>
        <td>
            Suburb
        </td>
        <td>
            {{listing.pba__area_pb__c}}
        </td>
    </tr>
    <tr>
        <td>
            System Allowed for Portals
        </td>
        <td>
            {{listing.pba__systemallowedforportals__c}}
        </td>
    </tr>
    <tr>
        <td>
            SystemExternalId
        </td>
        <td>
            {{listing.pba__systemexternalid__c}}
        </td>
    </tr>
    <tr>
        <td>
            SystemHasAcceptedOffer
        </td>
        <td>
            {{listing.pba__systemhasacceptedoffer__c}}
        </td>
    </tr>
    <tr>
        <td>
            SystemHasClosedClosing
        </td>
        <td>
            {{listing.pba__systemhasclosedclosing__c}}
        </td>
    </tr>
    <tr>
        <td>
            SystemHasExclusiveOffer
        </td>
        <td>
            {{listing.pba__systemhasexclusiveoffer__c}}
        </td>
    </tr>
    <tr>
        <td>
            SystemIdxPool
        </td>
        <td>
            {{listing.pba__systemidxpool__c}}
        </td>
    </tr>
    <tr>
        <td>
            SystemIsArchived
        </td>
        <td>
            {{listing.pba__systemisarchived__c}}
        </td>
    </tr>
    <tr>
        <td>
            SystemIsIdx
        </td>
        <td>
            {{listing.pba__systemisidx__c}}
        </td>
    </tr>
    <tr>
        <td>
            SystemIsIdxFullImport
        </td>
        <td>
            {{listing.pba__systemsssdxfullimport__c}}
        </td>
    </tr>
    <tr>
        <td>
            SystemPoolId
        </td>
        <td>
            {{listing.pba__systempoolid__c}}
        </td>
    </tr>
    <tr>
        <td>
            SystemRecordTypeDevName
        </td>
        <td>
            {{listing.systemrecordtypedevname__c}}
        </td>
    </tr>
    <tr>
        <td>
            Technical Source
        </td>
        <td>
            {{listing.pba__technicalsourcesystem__c}}
        </td>
    </tr>
    <tr>
        <td>
            Tenant Name
        </td>
        <td>
            {{listing.tenant_name__c}}
        </td>
    </tr>
    <tr>
        <td>
            Tenant Notes
        </td>
        <td>
            {{listing.tenant_notes__c}}
        </td>
    </tr>
    <tr>
        <td>
            Tenant Notice Period
        </td>
        <td>
            {{listing.tenant_notice_period__c}}
        </td>
    </tr>
    <tr>
        <td>Title</td>
        <td>{{listing.name}}</td>
    </tr>
    <tr>
        <td>
            Under Offer
        </td>
        <td>
            {{listing.under_offer__c}}
        </td>
    </tr>
    <tr>
        <td>
            Value Discrepancy %
        </td>
        <td>
            {{listing.value_discrepancy__c}}
        </td>
    </tr>
    <tr>
        <td>
            View
        </td>
        <td>{{listing.view__c}}</td>
    </tr>
    <tr>
        <td>
            Viewing Contact Person
        </td>
        <td>
            {{listing.viewing_contact_person__c}}
        </td>
    </tr>
    <tr>
        <td>
            Viewing Notes
        </td>
        <td>
            {{listing.viewing_notes__c}}
        </td>
    </tr>
    <tr>
        <td>
            Viewings whilst Under Offer
        </td>
        <td>
            {{listing.viewings_whilst_under_offer__c}}
        </td>
    </tr>
    <tr>
        <td>
            Walling
        </td>
        <td>
            {{listing.walling__c}}
        </td>
    </tr>
    <tr>
        <td>
            Website Title
        </td>
        <td>
            {{listing.website_title__c}}
        </td>
    </tr>
    <tr>
        <td>
            Year Built
        </td>
        <td>
            {{listing.year_built_text__c}}
        </td>
    </tr>
    <tr>
        <td>
            Year Built
        </td>
        <td>
            {{listing.pba__yearbuilt_pb__c}}
        </td>
    </tr>
    <tr>
        <td>
            Zip/Postal Code
        </td>
        <td>
            {{listing.pba__postalcode_pb__c}}
        </td>
    </tr>
</table>
{% endfor %}
</body>
</html>