
/*	Resets */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, 
p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, 
img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, hr, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, 
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figure, figcaption, hgroup, 
menu, footer, header, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}

ul{ 
    list-style: none;
}
article, aside, canvas, figure, figure img, figcaption, hgroup,
footer, header, nav, section, audio, video {
	display: block;
}

.clear:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0}
a img{
    border:0;
}
a,input,select,textarea{
    outline:none;
}
input::-moz-focus-inner{
    border:0; padding: 0;
}

img{
    float: left;
}

/* Selection colours (easy to forget) */

img::selection 		{background: transparent;}
img::-moz-selection	{background: transparent;}
a{text-decoration: none; display: inline-block;}

/*		Default Layout 
-------------------------------------------------------------------------------
*/

body {background: rgb(255,255,255); color: rgb(70, 73, 75); -webkit-text-size-adjust: 100%; -moz-text-size-adjust:100%; -moz-osx-font-smoothing:grayscale;-webkit-font-smoothing:antialiased; overflow-x: hidden; overflow-y:auto; font-family: 'Montserrat', sans-serif;font-weight: 400; font-style: normal;font-size: 15px;line-height: 24px; }

*{-webkit-box-sizing: border-box;-moz-box-sizing:border-box; box-sizing: border-box;}


h2,h3{color: #1b1f21;}
h2{ font-size: 48px; line-height: 58px;font-weight: 600;}
h3{font-size: 36px; line-height: 44px;font-weight: 300;}

.how-much-save-content{ float: left; width: 100%;padding: 80px 0 97px; }
.how-much-save-content h3{ text-align: center; font-weight: 300;}
.how-much-inner{max-width: 825px; margin: 0 auto; clear: both; padding-top: 55px;}
.how-much-deals:first-child{ float: left;max-width: 400px; width: 48.48484848484848%;}
.traditional-agent-info{ float: left;max-width: 315px; width:38.18181818181818%;margin-left:13.33333333333334%; text-align: center;}
.traditional-agent-info p{float: left;max-width: 307px; width: 100%; font-size: 18px; line-height: 28px; color: #1b1f21;padding:5px 0 0 23px; }
.traditional-agent-info p span{display: inline-block; font-size: 24px; line-height: 30px; color: #f66f26; font-weight: 600;}
.traditional-agent-info p b{font-weight: 600;}
.traditional-agent-info h2{float: none; text-align: center;width: 100%}
.property-price-info{ float: left; width: 100%;}
.price-range,.foldings,.expanded-content{float: left; width: 100%;}
.foldings p{color: #1b1f21; font-weight: 600; font-size: 14px;}
.agent-icon,.agent-icon img{ float: left;width: 100%; }

.range-value{width: 100%; margin: 0 auto; clear: both;}
.range-value .price-value-row{float: left; width: 50%; min-width: 50px; padding: 0 10px; margin-top: 30px;}
.range-value .price-value-row:first-child{padding-left: 0; text-align: left;}
.range-value .price-value-row:last-child{padding-right: 0; float: right; text-align: right;}
.price-value{color: #676a6b; font-size: 13px; line-height: 18px; float: left; width: 100%;}
.pricingrange-bar{float: left; width: 100%; padding-top: 30px;}
#pricingRange span.ui-slider-handle, #custom-handle{width: 130px; height: 40px; border-radius: 100px; background-color: #f76f26; box-shadow: 0 5px 10px 0 rgba(9, 9, 9, 0.1);  color: #ffffff; font-size: 15px; line-height: 37px; font-weight: 700; text-align: center; left: 2%; font-family: 'Montserrat', sans-serif, serif;}
#pricingRange .ui-widget-header,.ui-slider-horizontal{height: 4px; border-radius: 100px; background-color: #e8e9e9;}

.ui-slider .ui-slider-handle{width: 20px; height: 20px; border-radius: 50%; background: #ffffff; top: -17px; outline: none;}
.ui-state-default, .ui-widget-content .ui-state-default{background: #ffffff;}
.ui-state-active, .ui-widget-content .ui-state-active{background: #111111;}
.ui-widget.ui-widget-content{border: 0;}
.ui-corner-all{border-radius: 100px;}

.progress-range{float: left; width: 100%; padding-top: 40px;}
#progressRange{float: left; width: 100%; height: 4px; background: #e8e9e9; margin-top: 30px; border-radius: 100px; position: relative;}
#progressRange .ui-slider-handle{position: absolute; width: 110px; height: 40px; border-radius: 100px; background-color: #f76f26; box-shadow: 0 5px 10px 0 rgba(9, 9, 9, 0.1); text-align: center; font-weight: 700; font-size: 20px; line-height: 37px; color: #ffffff; top: -18px; left: 50%; -webkit-transform: translateX(-50%); -moz-transform: translateX(-50%); transform: translateX(-50%); letter-spacing: 1px; outline: none;}

#custom-handle{-webkit-transition: background .3s ease, left .1s ease, right .1s ease; -moz-transition: background .3s ease, left .1s ease, right .1s ease; transition: background .3s ease, left .1s ease, right .1s ease;}
#progressRange .ui-slider-handle{-webkit-transition: all .3s ease; -moz-transition: all .3s ease; transition: all .3s ease;}
#custom-handle:hover, #progressRange .ui-slider-handle:hover{background: #df6523; outline: none;}

/* =======================================================================================================
============================================ Responsive style ========================================== */

/*		Mobile Layout: 320px and 480px and more but less than or equal to 767px.
----------------------------------------------------------------------------------
*/

@media only screen and (min-width: 320px) and (max-width: 767px) {
    input[type="text"],input[type="submit"],input[type="password"],select,textarea{-webkit-appearance:none;-moz-appearance:none;appearance:none; border-radius: 0}
    
    .mobi{display: block}
    .desktop{display: none}
    
    .how-much-deals:first-child,.traditional-agent-info{width: 100%; padding: 0 20px; max-width: 100%}
    .traditional-agent-info{margin: 44px 0 0 0;}
    .traditional-agent-info p{text-align: center; max-width: 100%;  font-size: 16px; line-height: 26px;}
    .agent-icon{display: none}
    .traditional-agent-info h2{font-size: 36px}
    .how-much-save-content{padding:30px 0 22px}
    .how-much-save-content h3,.buy-content-text h4,h3{font-size: 22px; line-height: 28px;}
    .how-much-inner{padding-top: 30px;}
    .foldings p{ text-align: center; float: none}
    
    .progressRange-state{width: 120px;}
    #pricingRange span.ui-slider-handle{width: 143px; padding: 0 16px; text-align: left;}
    #pricingRange span.ui-slider-handle:before,.progressRange-state:before{position: absolute; right: 16px; font-size: 18px; line-height: 34px; color: rgba(255, 255, 255, .3); content: "||"}
    
    .pricingrange-bar{padding-top: 23px;}
    .range-value .price-value-row,#progressRange{margin-top: 24px;}
    .progress-range .foldings p{font-size: 14px;}
    .traditional-agent-info p{padding: 0;}
    .traditional-agent-info p span{font-size: 18px;}
    .progress-range{padding-top: 27px;}
    b.mobi{display: inline-block}
    
    
}



/*		Tablet Layout: 768px.
-----------------------------------------------------------------
*/

@media only screen and (min-width: 768px) and (max-width: 991px) {
    input[type="text"],input[type="submit"],input[type="password"],select,textarea{-webkit-appearance:none;-moz-appearance:none;appearance:none; border-radius: 0}
    
    .how-much-save-content { padding: 80px 20px 102px;}
    .traditional-agent-info p br{display: none;}
    
    
}






