/*----------------------------------------------------------*\
                      LESS Elements 0.9
/*----------------------------------------------------------*\
    A set of useful LESS mixins
    More info at: http://lesselements.com
/*----------------------------------------------------------*/
/*----------------------------------------------------------*\
              Johan Pretorius Elements v1.1
/*----------------------------------------------------------*/
.section-banner {
  margin-top: -66px;
  position: relative;
  overflow: hidden;
  -webkit-box-shadow: 0 4px 4px -2px #f5f5f5;
  -moz-box-shadow: 0 4px 4px -2px #f5f5f5;
  box-shadow: 0 4px 4px -2px #f5f5f5;
}
@media only screen and (max-width: 480px) {
  .section-banner {
    margin-top: 0;
  }
}
@media only screen and (min-width: 481px) and (max-width: 780px) {
  .section-banner {
    margin-top: 0;
  }
  .section-banner .container {
    padding: 0 15px;
  }
}
.section-banner .slider-container {
  position: absolute;
  width: 100%;
  height: 470px;
  display: block;
}
@media only screen and (min-width: 481px) and (max-width: 780px) {
  .section-banner .slider-container {
    top: 60px;
    overflow: hidden;
    height: 47.5%;
  }
}
.section-banner .slider-container .banner-slide {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  width: 100%;
  height: auto;
}
.section-banner .slider-container .banner-slide img {
  width: 100%;
  height: auto;
  position: absolute;
}
@media only screen and (max-width: 480px) {
  .section-banner .slider-container .banner-slide {
    position: relative;
    height: 225px;
    margin-top: 60px;
    overflow: hidden;
  }
}
.section-banner .slider-container .slide_tabs {
  position: absolute;
  top: 93%;
  left: 10px;
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none;
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.section-banner .slider-container .slide_tabs li {
  position: relative;
  display: block;
  float: left;
  margin: 0 5px;
  cursor: pointer;
}
.section-banner .slider-container .slide_tabs li.active a {
  box-shadow: inset 0 0 0 8px #de0080;
}
.section-banner .slider-container .slide_tabs li a {
  top: 0;
  left: 0;
  width: 13px;
  height: 13px;
  outline: none;
  border-radius: 50%;
  text-indent: -999em;
  /* make the text accessible to screen readers */
  cursor: pointer;
  position: relative;
  display: block;
  box-shadow: inset 0 0 0 2px #cccccc;
  -webkit-transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease;
}
.section-banner .slider-container .slide_tabs li a:hover,
.section-banner .slider-container .slide_tabs li a:active {
  box-shadow: inset 0 0 0 2px #cccccc;
}
@media only screen and (max-width: 480px) {
  .section-banner .slider-container .slide_tabs {
    top: 90%;
    left: 0;
    right: 0;
    margin-left: 42.5%;
  }
}
@media only screen and (max-width: 480px) {
  .section-banner .slider-container {
    position: relative;
    height: auto;
  }
}
.section-banner .feature-message {
  position: absolute;
  top: 143px;
  left: 0;
  width: 51%;
  background-color: #de0080;
  display: block;
  padding: 6px 20px 6px 16px;
  z-index: 2;
}
.section-banner .feature-message .filler {
  position: absolute;
  top: 0;
  left: -99%;
  width: 100%;
  background-color: #de0080;
  display: block;
  z-index: 2;
  height: 100%;
}
@media only screen and (max-width: 480px) {
  .section-banner .feature-message .filler {
    display: none;
  }
}
.section-banner .feature-message h1 {
  font-size: 30px;
  font-weight: bold;
  line-height: 36px;
  color: #FFFFFF;
  padding-left: 5px;
}
@media only screen and (max-width: 480px) {
  .section-banner .feature-message h1 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 0;
  }
}
@media only screen and (min-width: 481px) and (max-width: 780px) {
  .section-banner .feature-message h1 {
    font-size: 20px;
    line-height: 24px;
  }
}
.section-banner .feature-message [class*='col-'] {
  padding: 0;
  margin: 0;
}
@media only screen and (max-width: 480px) {
  .section-banner .feature-message {
    position: relative;
    top: 0;
    width: 100%;
  }
}
.section-banner .recent-stories {
  font-family: 'Helvetica', Arial, Helvetica, sans-serif;
  background-color: #FFFFFF;
  height: 100%;
  position: relative;
  padding: 0 15px 30px;
  margin-top: 60px;
  margin-right: 0;
  min-height: 410px;
}
.section-banner .recent-stories .title {
  font-size: 16px;
  font-weight: bold;
  color: #de0080;
  padding: 15px 0;
  border-bottom: solid 1px #e6e6e6;
}
@media only screen and (min-width: 481px) and (max-width: 780px) {
  .section-banner .recent-stories .title {
    padding: 10px 0;
  }
}
.section-banner .recent-stories ul {
  margin: 0;
  padding: 0;
}
.section-banner .recent-stories ul li {
  margin: 0;
  padding: 13px 0;
  list-style: none;
  border-bottom: solid 1px #e6e6e6;
}
.section-banner .recent-stories ul li:last-child {
  border: 0;
}
.section-banner .recent-stories ul li .date {
  font-size: 14px;
  color: #999999;
  display: block;
  margin-bottom: 5px;
  text-transform: capitalize;
}
.section-banner .recent-stories ul li .post-title {
  font-family: 'Georgia', Arial, Helvetica, sans-serif;
  font-size: 17px;
  line-height: 22px;
  color: #333333;
}
@media only screen and (min-width: 481px) and (max-width: 780px) {
  .section-banner .recent-stories ul li .post-title {
    font-size: 14px;
  }
}
.section-banner .recent-stories ul li .post-title:hover {
  color: #de0080;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
@media only screen and (min-width: 481px) and (max-width: 780px) {
  .section-banner .recent-stories ul li {
    word-break: break-all;
    padding: 8px 0;
  }
}
.section-banner .recent-stories .more {
  font-family: 'Georgia', Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: bold;
  display: block;
  width: 100%;
  text-align: right;
  color: #de0080;
  position: absolute;
  right: 15px;
  bottom: 15px;
}
.section-banner .recent-stories .more:hover {
  color: #999999;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
@media only screen and (min-width: 481px) and (max-width: 780px) {
  .section-banner .recent-stories .more {
    font-size: 14px;
  }
}
@media only screen and (max-width: 480px) {
  .section-banner .recent-stories {
    margin-top: 0;
    min-height: 0;
    padding-bottom: 30px;
  }
}
.section-banner .feature {
  background-color: rgba(51, 51, 51, 0.75);
  border-top: solid 1px #cccccc;
  padding: 40px 0;
}
@media only screen and (max-width: 480px) {
  .section-banner .feature {
    height: auto;
    padding-bottom: 80px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 780px) {
  .section-banner .feature {
    padding: 20px;
  }
}
@media only screen and (min-width: 780px) and (max-width: 1119px) {
  .section-banner .feature {
    padding: 20px;
  }
}
.section-banner .feature .filter {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
}
.section-banner .feature h2,
.section-banner .feature h3 {
  color: #FFFFFF;
}
.section-banner .feature h3 {
  font-size: 18px;
  position: relative;
  padding-left: 40px;
}
.section-banner .feature h3:after {
  content: url("imgprod/left-marker.png");
  height: 40px;
  width: 30px;
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
}
.section-banner .feature h3:after img {
  width: 100%;
}
@media only screen and (max-width: 480px) {
  .section-banner .feature h3:after {
    bottom: 0;
  }
}
@media only screen and (min-width: 481px) and (max-width: 780px) {
  .section-banner .feature h3:after {
    bottom: 10%;
  }
}
.section-banner .feature h4 {
  font-family: 'Helvetica', Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #de0080;
  text-transform: uppercase;
  display: block;
  margin-bottom: 10px;
}
.section-banner .feature p {
  font-family: 'Helvetica', Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #d6d6d6;
  margin-bottom: 20px;
}
.section-banner .feature [class*='col-']:first-of-type {
  padding-right: 40px;
}
@media only screen and (max-width: 480px) {
  .section-banner .feature [class*='col-']:first-of-type {
    padding: 0 20px;
    float: none;
    margin-bottom: 40px;
  }
}
.section-banner .feature [class*='col-']:last-child {
  padding-left: 60px;
}
@media only screen and (max-width: 480px) {
  .section-banner .feature [class*='col-']:last-child {
    padding: 0 20px;
    float: none;
  }
}
