@import '../../../style/variables.less';
@import '../../../style/less/elements.less';
@import '../../../style/less/media.less';

.section-banner {
  margin-top: -66px;
  position: relative;
  overflow: hidden;
  .box-shadow(0 4px 4px -2px @shade_0);

  @media @mobile {
    margin-top: 0;
  }

  @media @tablet {
    margin-top: 0;
    .container {
      padding: 0 15px;
    }
  }

  .slider-container {
    position: absolute;
    width: 100%;
    height: 470px;
    display: block;
    @media @tablet {
      top: 60px;
      overflow: hidden;
      height: 47.5%;
    }
    .banner-slide {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: -1;
      width: 100%;
      height: auto;
      img {
        width: 100%;
        height: auto;
        position: absolute;
      }

      @media @mobile {
        position: relative;
        height: 225px;
        margin-top: 60px;
        overflow: hidden;
      }

    }
    .slide_tabs {
      position: absolute;
      top: 93%;
      left: 10px;
      display: inline-block;
      margin: 0;
      padding: 0;
      list-style: none;
      cursor: default;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

      li {
        position: relative;
        display: block;
        float: left;
        margin: 0 5px;
        cursor: pointer;
        &.active {
          a {
            box-shadow: inset 0 0 0 8px @primary;
          }
        }
        a {
          top: 0;
          left: 0;
          width: 13px;
          height: 13px;
          outline: none;
          border-radius: 50%;
          text-indent: -999em; /* make the text accessible to screen readers */
          cursor: pointer;
          position: relative;
          display: block;
          box-shadow: inset 0 0 0 2px #cccccc;
          -webkit-transition: box-shadow 0.3s ease;
          transition: box-shadow 0.3s ease;
          &:hover, &:active {
            box-shadow: inset 0 0 0 2px #cccccc;
          }
        }
      }

      @media @mobile {
        top: 90%;
        left: 0;
        right: 0;
        margin-left: 42.5%;

      }
    }

    @media @mobile {
      position: relative;
      height: auto;
    }
  }

  .feature-message {
    position: absolute;
    top: 143px;
    left: 0;
    width: 51%;
    background-color: @primary;
    display: block;
    padding: 6px 20px 6px 16px;
    z-index: 2;

    .filler {
      position: absolute;
      top: 0;
      left: -99%;
      width: 100%;
      background-color: @primary;
      display: block;
      z-index: 2;
      height: 100%;
      @media @mobile {
        display: none;
      }
    }

    h1 {
      font-size: 30px;
      font-weight: bold;
      line-height: 36px;
      color: @white;
      padding-left: 5px;
      @media @mobile {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 0;
      }
      @media @tablet {
        font-size: 20px;
        line-height: 24px;
      }
    }

    [class*='col-'] {
      padding: 0;
      margin: 0;
    }

    @media @mobile {
      position: relative;
      top: 0;
      width: 100%;
    }
  }

  .recent-stories {
    .font(Helvetica);
    background-color: @white;
    height: 100%;
    position: relative;
    padding: 0 15px 30px;
    margin-top: 60px;
    margin-right: 0;
    min-height: 410px;
    .title {
      font-size: 16px;
      font-weight: bold;
      color: @primary;
      padding: 15px 0;
      border-bottom: solid 1px @shade_1;
      @media @tablet {
        padding: 10px 0;
      }
    }

    ul {
      margin: 0;
      padding: 0;
      li {
        margin: 0;
        padding: 13px 0;
        list-style: none;
        border-bottom: solid 1px @shade_1;
        &:last-child {
          border: 0;
        }
        .date {
          font-size: 14px;
          color: @shade_4;
          display: block;
          margin-bottom: 5px;
          text-transform: capitalize;
        }
        .post-title {
          .font(Georgia);
          font-size: 17px;
          line-height: 22px;
          color: @shade_8;
          @media @tablet {
            font-size: 14px;
          }

          &:hover {
            color: @primary;
            .transition();
          }
        }
        @media @tablet {
          word-break: break-all;
          padding: 8px 0;
        }
      }
    }

    .more {
      .font(Georgia);
      font-size: 16px;
      font-weight: bold;
      display: block;
      width: 100%;
      text-align: right;
      color: @primary;
      position: absolute;
      right: 15px;
      bottom: 15px;
      &:hover {
        color: @shade_4;
        .transition();
      }
      @media @tablet {
        font-size: 14px;
      }
    }

    @media @mobile {
      margin-top: 0;
      min-height: 0;
      padding-bottom: 30px;
    }

  }

  .feature {
    background-color: fade(@shade_8, 75%);
    border-top: solid 1px @shade_2;
    padding: 40px 0;
    @media @mobile {
      height: auto;
      padding-bottom: 80px;
    }
    @media @tablet {
      padding: 20px;
    }
    @media @tablet-xl {
      padding: 20px;
    }
    .filter {
      background-color: rgba(0, 0, 0, 0.5);
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: 100%;
    }
    h2, h3 {
      color: @white;
    }

    h3 {
      font-size: 18px;
      position: relative;
      padding-left: 40px;
      &:after {
        content: url("imgprod/left-marker.png");
        height: 40px;
        width: 30px;
        position: absolute;
        left: 0;
        bottom: 0;
        display: block;
        img {
          width: 100%;
        }
        @media @mobile {
          bottom: 0;
        }
        @media @tablet {
          bottom: 10%;
        }
      }
    }
    h4 {
      .font(Helvetica);
      font-size: 16px;
      font-weight: 700;
      color: @primary;
      text-transform: uppercase;
      display: block;
      margin-bottom: 10px;
    }
    p {
      .font(Helvetica);
      font-size: 16px;
      line-height: 22px;
      color: lighten(@black, 84%);
      margin-bottom: 20px;
    }
    [class*='col-'] {
      &:first-of-type {
        padding-right: 40px;
        @media @mobile {
          padding: 0 20px;
          float: none;
          margin-bottom: 40px;
        }
      }
      &:last-child {
        padding-left: 60px;
        @media @mobile {
          padding: 0 20px;
          float: none;
        }
      }
    }
  }
}