.wp-core-ui .button-primary, .wp-core-ui .button, .wp-core-ui .button-secondary {
    background: #f66f26 !important;
    border-color: #f66f26 !important;
    text-shadow: none;
    font-weight: bold;
    color: #FFFFFF !important;
    box-shadow: 0 1px 0 #CCCCCC;
}

.wp-core-ui .button-primary:focus, .wp-core-ui .button-primary:hover, .wp-core-ui .button:focus, .wp-core-ui .button:hover, .wp-core-ui .button-secondary:hover, .wp-core-ui .button-secondary:focus {
    background: #f66f26;
    border-color: #f66f26;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 116, 2, .6);
    color: #32373C !important;
}

.wp-media-buttons .add_media span.wp-media-buttons-icon::before, #screen-meta-links .show-settings::after {
    color: #FFFFFF;
}

#adminmenu .wp-has-current-submenu .wp-submenu .wp-submenu-head, #adminmenu .wp-menu-arrow, #adminmenu .wp-menu-arrow div, #adminmenu li.current a.menu-top, #adminmenu li.wp-has-current-submenu a.wp-has-current-submenu, .folded #adminmenu li.current.menu-top, .folded #adminmenu li.wp-has-current-submenu {
    background: #f66f26;
    color: #444444 !important;
}

.wp-admin select {
    min-width: 13em;
}

.wrap .add-new-h2, .wrap .add-new-h2:active, .wrap .page-title-action, .wrap .page-title-action:active {
    background: #f66f26;
    color: #FFFFFF;
}

.wrap .add-new-h2:hover, .wrap .page-title-action:hover {
    background: #f66f26;
    color: #32373C !important;
}

.wp-core-ui .button-link, .view-switch a.current::before {
    color: #f66f26;
}

#wpadminbar > #wp-toolbar a:focus span.ab-label, #wpadminbar > #wp-toolbar li.hover span.ab-label, #wpadminbar > #wp-toolbar li:hover span.ab-label {
    color: #f66f26 !important;
}

#adminmenu a:hover {
    color: #f66f26 !important;
}

#adminmenu li:hover div.wp-menu-image:before {
    color: #444444 !important;
}

#adminmenu .current a:hover {
    color: #444444 !important;
}

.media-frame a, th .comment-grey-bubble::before, .js .meta-box-sortables .postbox .toggle-indicator::before, .js .sidebar-name .sidebar-name-arrow::before, .accordion-section-title::after, .control-section .accordion-section-title::after, .nav-menus-php .item-edit::before, .widget-top a.widget-action::after {
    color: #f66f26 !important;
}

a, .media-frame a {
    color: #f66f26;
    font-weight: bold;
}

a:active, a:hover {
    color: #f66f26;
}

#wpadminbar, #adminmenu, #adminmenu .wp-submenu, #adminmenuback, #adminmenuwrap {
    background: #444444;
}

input[type=checkbox]:checked:before {
    color: #f66f26;
}

#misc-publishing-actions label[for=post_status]:before, #post-body #visibility:before, #post-body .misc-pub-revisions:before, .curtime #timestamp:before, span.wp-media-buttons-icon:before {
    color: #f66f26;
}

input[type=checkbox]:focus, input[type=color]:focus, input[type=date]:focus, input[type=datetime-local]:focus, input[type=datetime]:focus, input[type=email]:focus, input[type=month]:focus, input[type=number]:focus, input[type=password]:focus, input[type=radio]:focus, input[type=search]:focus, input[type=tel]:focus, input[type=text]:focus, input[type=time]:focus, input[type=url]:focus, input[type=week]:focus, select:focus, textarea:focus {
    border-color: #f66f26;
    -webkit-box-shadow: 0 0 2px rgba(255, 116, 2, .8);
    box-shadow: 0 0 2px rgba(255, 116, 2, .8);
}

input[type=checkbox], input[type=color], input[type=date], input[type=datetime-local], input[type=datetime], input[type=email], input[type=month], input[type=number], input[type=password], input[type=radio], input[type=search], input[type=tel], input[type=text], input[type=time], input[type=url], input[type=week], select, textarea {
    border: 1px solid rgba(255, 116, 2, .5);
}

#all-plugins-table .plugins a.delete, #media-items a.delete, #media-items a.delete-permanently, #nav-menu-footer .menu-delete, #search-plugins-table .plugins a.delete, .plugins a.delete, .row-actions span.delete a, .row-actions span.spam a, .row-actions span.trash a, .submitbox .submitdelete {
    color: #f66f26;
}

#wpadminbar .ab-top-menu > li.hover > .ab-item, #wpadminbar .ab-top-menu > li:hover > .ab-item, #wpadminbar .ab-top-menu > li > .ab-item:focus, #wpadminbar.nojq .quicklinks .ab-top-menu > li > .ab-item:focus {
    color: #f66f26;
}

#wpadminbar .quicklinks .menupop ul li a:focus, #wpadminbar .quicklinks .menupop ul li a:focus strong, #wpadminbar .quicklinks .menupop ul li a:hover, #wpadminbar .quicklinks .menupop ul li a:hover strong, #wpadminbar .quicklinks .menupop.hover ul li a:focus, #wpadminbar .quicklinks .menupop.hover ul li a:hover, #wpadminbar li .ab-item:focus:before, #wpadminbar li a:focus .ab-icon:before, #wpadminbar li.hover .ab-icon:before, #wpadminbar li.hover .ab-item:before, #wpadminbar li:hover #adminbarsearch:before, #wpadminbar li:hover .ab-icon:before, #wpadminbar li:hover .ab-item:before, #wpadminbar.nojs .quicklinks .menupop:hover ul li a:focus, #wpadminbar.nojs .quicklinks .menupop:hover ul li a:hover {
    color: #f66f26;
}

.wp-editor-container {
    margin-top: auto !important;
    border: 1px solid rgba(255, 116, 2, .3);
}

div.mce-toolbar-grp, .postbox .hndle, .stuffbox .hndle {
    border-bottom: 1px solid rgba(255, 116, 2, .3) !important;
}

.wp-editor-expand #post-status-info, #major-publishing-actions {
    border-top: 1px solid rgba(255, 116, 2, .3) !important;
}

#editable-post-name {
    background-color: rgba(255, 116, 2, .5);
}

#poststuff h3, .wrap h2 {
    color: #f66f26;
    font-weight: bold;
    margin-top: 0;
}

a:focus {
    color: #f66f26;
    box-shadow: 0 0 2px rgba(255, 116, 2, .9);
    border: 1px solid #f66f26;
}

.wp-admin-bar-wp-logo {
    display: none
}

/*
 * Added by Siya
 */
.fox-foxplug {
    background-color: #FFFFFF;
}

.admin-security .postbox .hndle,
.fox-foxplug .postbox .hndle {
    cursor: default;
}

.fox-foxplug form h3, .fox-foxplug .fox-contact-details h3, #postbox-menu-container h3 {
    padding-bottom: 10px;
    text-transform: uppercase;
}

.foxplug-header {
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.foxplug-header h1 {
    font-weight: normal;
}

#postbox-menu-container {
    margin-right: 20px;
    width: auto !important;
}

#postbox-menu-container .postbox {
    padding: 10px;
}

.foxplug-form p.submit input {
    border: 0 none;
    border-radius: 0;
    box-shadow: none;
    height: auto;
    padding: 6px 20px;
    text-decoration: none;
    text-transform: uppercase;
}

.foxplug-form .form-table th {
    width: 110px;
}

.foxplug-form textarea {
    width: 25em;
}

.foxplug-form p {
    margin-top: 0;
    padding-top: 0;
}

.fox-contact-details {
    /*border: 2px solid #f66f26;*/
    float: left;
    padding: 10px;
}

#menu-management .menu-edit, #menu-settings-column .accordion-container, .comment-ays, .feature-filter, .imgedit-group, .manage-menus, .menu-item-handle, .popular-tags, .stuffbox, .widget-top, .widgets-holder-wrap, .wp-editor-container, p.popular-tags, table.widefat {
    border-color: #f66f26;
    margin-top: 30px;
}

.tablenav .actions {
    margin-top: 10px;
}

.widefat thead td, .widefat thead th, .widefat tfoot td, .widefat tfoot th {
    border-color: #f66f26;
}

.tabs {
    float: none;
    list-style: none;
    position: relative;
    text-align: left;
    min-height: 500px;
}

.tabs li {
    float: left;
    display: block;
}

.tabs .radio-tab {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

.tabs label {
    display: block;
    padding: 5px 10px;
    font-size: 14px;
    background: #C8C8C8;
    cursor: pointer;
    line-height: 24px;
    margin-right: 0.5em;
    margin-left: 2px;
    border-image: none;
    border: 1px solid #CCCCCC;
    border-bottom: medium none -moz-use-text-color;
    font-weight: bold;
}

.tabs label:hover {
    background: #FFFFFF;
}

.tabs .tab-content {
    display: none;
    overflow: hidden;
    width: 100%;
    font-size: 17px;
    line-height: 25px;
    position: absolute;
    top: 25px;
    left: 0;
}

.tabs .tab-content label {
    background: #FFFFFF;
    border: 0;
    padding: 0 0 10px 0;
}

.tabs .tab-content fieldset {
    margin-bottom: 15px;
}

.tabs [id^="tab"]:checked + label {
    top: 0;
    background: #FFFFFF;
}

.tabs [id^="tab"]:checked ~ [id^="tab-content"] {
    display: block;
}

.tabs .tab-content .postbox {
    width: 100%;
}

.tabs .tab-content .postbox form {
    padding: 10px;
}

.highlight {
    font-size: 18px;
}

.wysiwyg {
    min-height: 150px;
    border-color: #f66f26;
}

.response-item .mce-edit-area {
    border-left: solid 1px #f66f26 !important;
    border-right: solid 1px #f66f26 !important;
    border-bottom: solid 1px #f66f26 !important;
}

.response-item .mce-toolbar-grp {
    border-left: solid 1px #f66f26 !important;
    border-right: solid 1px #f66f26 !important;
    border-top: solid 1px #f66f26 !important;
}

.delete-section {
    font-family: "Open Sans", Arial, "Arial Unicode MS", sans-serif;
    display: block;
    height: 20px;
    width: 20px;
    font-size: 26px;
    text-align: center;
    vertical-align: middle;
    line-height: 12px;
}

span.delete-section:hover {
    color: #000000 !important;
    transition: 0.5s ease;
}

.fox_image_holder img {

    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    width: 100%;
    height: auto;
    display: block;
    min-width: 200px;
    background: #f1f1f1;
    margin: 0 0 0 2px;
    max-width: 200px;

}

.remove_image_button {
    margin-left: 20px !important;
}

.ui-sortable li {
    background: #fff;
}

.multiple-images:after {
    content: "";
    display: table;
    clear: both;
}

.multiple-images .single-image {
    float: left;
    margin-right: 13px;
    margin-bottom: 13px;
}