.login {
    background: #ffffff;
}

.login #backtoblog a, .login #nav a {
    color: #f66f26;
}

.login h1 a {
    background-image: none, url("../Images/PropertyFox-Logo-Tagline-small.png");
    width: 100%;
    height: 100px;
    background-size: contain;
}